<% for (let i = 0; i < 10; i++) { %>
    <li> <%= i %> - This is log </li>
<% } %>

<h1><%= message %></h1>
<h2><%= locals.message2 %></h2>

<%- html %>
<%= message3 %>

<%# This is un-rendered comment %>
<!-- This is rendered comment -->